.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 30px; /* Adds space between the logo and the menu */
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 10px; /* Adds padding for a button-like appearance */
  border-radius: 5px; /* Rounded corners for highlighted menu links */
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Highlight on hover */
  color: white;
}

.nav a.active {
  background-color: rgba(255, 255, 255, 0.3); /* Highlight for active link */
  color: white;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

#navbarNav{
  margin-left: 50px;
}

.config{
  color: #fff;
  text-decoration: none;
}