<header class="header navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <!-- Logo Section -->
    <a class="navbar-brand" routerLink="/map/map/dashboard"> <i class="fa fa-map-marker"></i> MAP INSIGHT</a>
    
    <!-- Navbar Toggle Button for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Links Section - Shifted to the left -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <!-- Conditionally Render Admin or User Links -->
        <ng-container>
          <ng-container *ngIf="userRole === 'ADMIN'">
            <li *ngFor="let link of adminLinks" class="nav-item">
              <a class="nav-link" [routerLink]="link.route" routerLinkActive="active">
                <span>{{ link.label }}</span>
              </a>
            </li>
            <li class="nav-item" (click)="exportData()">
              <a class="nav-link" >
                <span>Export Data</span>
              </a>
            </li>
            <div class="dropdown d-flex align-items-center">
              <a class=" dropdown-toggle config " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Configuration
              </a>
            
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="myKeyConfig()">Key Config</a></li>
                <li><a class="dropdown-item" (click)="myKeyBind()">Key Bind</a></li>
              </ul>
            </div>
          </ng-container>

          <ng-container *ngIf="userRole !== 'ADMIN'">
            <li *ngFor="let link of userLinks" class="nav-item">
              <a class="nav-link" [routerLink]="link.route" routerLinkActive="active">
                <span>{{ link.label }}</span>
              </a>
            </li>
            <li class="nav-item" (click)="exportData()">
              <a class="nav-link" >
                <span>Export Data</span>
              </a>
            </li>
          </ng-container>
        </ng-container>

      </ul>
    </div>

    <!-- User Name and Logout Button Section - Aligned to the right -->
    <div class="d-flex align-items-center ms-3">
      <span class="navbar-text text-white me-3">
        Welcome,  {{ username }}
      </span>
      <button class="btn btn-outline-light" (click)="logout()">Logout</button>
    </div>
  </div>
</header>