<div class="d-flex justify-content-between mb-2">
  <h4>Dasboard</h4>
</div>
<div class="dashboard">
  <!-- Card with Counts (Center the card) -->
  <div class="card card-centered">
    <div class="card-body">
      <h4>
        Search Contact Details Count: 
        <span (click)="onSearchCountClick('contacts')">
          {{ dashboardCount?.searchContactsCount }}
        </span>
      </h4>
      <h4 *ngIf="userRole === 'ADMIN'">
        Search Geocodes Count: 
        <span (click)="onSearchCountClick('geocodes')">
          {{ dashboardCount.searchGeocodesCount }}
        </span>
      </h4>
      <h4 *ngIf="userRole === 'ADMIN'">
        Search Places Count: 
        <span (click)="onSearchCountClick('places')">
          {{ dashboardCount.searchPlacesCount }}
        </span>
      </h4>
    </div>
  </div>

  <!-- Data Table (Full Width) -->
  <app-data-table [title]="title" [cardH]="true" [columns]="columnsMetadata" [permission]="permission"
      [totalPages]="dataDataTable.totalPages" (buttonEvent1)="buttonEvent1($event)"
      (changePageSortSearch)="changePageSortSearch($event, selectedApiType)" [content]="dataDataTable.content" [hasOwner]=true>
  </app-data-table>
</div>