<div class="d-flex justify-content-between mb-2">
  <h4 class="mr-3">Dashboard</h4> <!-- Dashboard heading -->
  
  <!-- Month Dropdown -->
  <div class="form-group d-flex align-items-center">
    <label for="monthSelect" class="mr-2">Select Months:</label>
    <select id="monthSelect" class="form-control" [(ngModel)]="selectedMonth" (change)="onMonthChange()">
      <!-- Blank option to serve as a default "select month" placeholder -->
      <option value="" disabled selected>Select Months</option>
      <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
    </select>
  </div>
</div>

<!-- Data Cards Section -->
<div class="row mtop justify-content-center">
  <!-- Center the card for Contact Details Count -->
    <div class="col-md-4" [ngClass]="{'d-flex justify-content-center': userRole !== 'ADMIN'}">
      <div class="card">
          <div class="card-body p-2" (click)="onSearchCountClick('contacts')">
              <div class="d-flex justify-content-center">
                  <h3 class="card-title count "><span>
                    {{ dashboardCount?.searchContactsCount }}
                  </span></h3>
              </div>
              <h4 class="card-text text-center">Search Contact Details Count</h4>
          </div>
      </div>
  </div>

  <div class="col-md-4" *ngIf="userRole === 'ADMIN'">
      <div class="card">
          <div class="card-body p-2 " (click)="onSearchCountClick('geocodes')">
              <div class="d-flex justify-content-center">
                  <h3 class="card-title count "><span>
                    {{ dashboardCount.searchGeocodesCount }}
                  </span></h3>
              </div>
              <h4 class="card-text text-center">Search Geocodes Count</h4>
          </div>
      </div>
  </div>

  <div class="col-md-4" *ngIf="userRole === 'ADMIN'">
      <div class="card">
          <div class="card-body p-2" (click)="onSearchCountClick('places')">
              <div class="d-flex justify-content-center">
                  <h3 class="card-title count "><span>
                    {{ dashboardCount.searchPlacesCount }}
                  </span></h3>
              </div>
              <h4 class="card-text text-center">Search Places Count</h4>
          </div>
      </div>
  </div>
</div>

<!-- Data Table Section -->
<div class="dashboard">
  <!-- Data Table (Full Width) -->
  <app-data-table [title]="title" [cardH]="true" [columns]="columnsMetadata" [permission]="permission"
      [totalPages]="dataDataTable.totalPages" (buttonEvent1)="buttonEvent1($event)"
      (changePageSortSearch)="changePageSortSearch($event, selectedApiType)" [content]="dataDataTable.content" [hasOwner]=true>
  </app-data-table>
</div>