<div class="card cust-datatable" [style.--cardHeight.px]="cardDivHeight">
  <!-- <h4>{{title}}</h4> -->
    <div class="d-flex justify-content-between">
        <div class="d-flex">
        <div class=""> <input class="form-control data-search" style="height:30px;margin-top:4px;" id="search-customer" type="search" (keyup)="pageChange()" [(ngModel)]="pagination.serchingParmeter"
                placeholder="Search" aria-label="Search"></div>
        <div class="data-icons">
            <div class="d-flex ">
              <button *ngIf="permission[0]" class="btn-icon" (click)="multiselect ? buttonEventMultiSelect('add') :buttonEvent('add')" id="add-data"> <i class="fa fa-plus font-icon" aria-hidden="true"> </i></button>
              <button *ngIf="permission[1]"class="btn-icon" (click)="multiselect ? buttonEventMultiSelect('edit') :buttonEvent('edit')" id="edit-data"> <i class="fa fa-pencil font-icon" aria-hidden="true"> </i></button>
              <button *ngIf="permission[2]"class="btn-icon" (click)="multiselect ? buttonEventMultiSelect('delete') :buttonEvent('delete')" id="delete-data"> <i class="fa fa-trash font-icon" aria-hidden="true"> </i></button>
              <button *ngIf="permission[3]" class="btn-icon view" (click)="buttonEvent('view')" id="view-data"> <i  class="fa fa-eye font-icon" aria-hidden="true"></i> </button>
              <button *ngIf="permission[4]" (click)="changeOwner()" class="btn-icon Owner-btn" id="change-owner">Change Owner </button>
            </div>
        </div>
    </div>
    <div class="sorting-section d-flex mt-2">
        <div class="sort-parent">
            <select class="form-select" aria-label="Default select example" id="pagination" (change)="pageChange()" [(ngModel)]="pagination.pageSize">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <ng-container *ngFor="let column of columns?.columnsMetadata,let i = index;">
                    
                    <th scope="col"  *ngIf="column?.type!='avatar'  && column?.type!='icon' && column?.type!='button' && column?.type!='radio'" scope="col" [style.width.%]="column?.width"   (click)="sorting(column?.sortBy)"  class="data-names">{{column?.name}}
                         <i *ngIf="pagination.sortKey==column?.sortBy && pagination.sortType=='DESC'" class="fa fa-angle-down data-names"></i> 
                         <i *ngIf="pagination.sortKey==column?.sortBy && pagination.sortType=='ASC'" class="fa fa-angle-up data-names"></i> 
                         <i   *ngIf="pagination.sortKey!=column?.sortBy" class="fa fa-sort data-names"></i> 
                      
                    </th>
                    <th scope="col"   *ngIf="column?.type=='avatar' || column?.type=='icon' || column?.type=='button' || column?.type=='radio'" scope="col" [style.width.%]="column?.width"  class="data-names">{{column?.name}}

                      <input type="checkbox" (change)="selectAll($event)"  *ngIf="column?.type=='radio' && multiselect" [checked]="selectedDataArray?.length===content?.length" id="selectAll">
                    </th>
        
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row   of content;let I=index" [ngClass]="selectedData==row?'selected':''" (click)="radioButton(row,$event)">
   
                    <td [style.width.%]="column?.width"  scope="col" [style.width.%]="column?.width" class="py-2" *ngFor="let column of columns?.columnsMetadata">
                       
                     <container-element [ngSwitch]="column?.type">
                                        <div *ngSwitchCase="'radio'">
                        <input type="radio" [checked]="selectedData==row" (click)="radioButton(row, $event)" [id]="idRadio" *ngIf="!multiselect;else templateName" >
                       <ng-template #templateName >
                          <input type="checkbox"  [checked]="getSelect(row)" (click)="checkboxButton(row,$event)" [id]="idRadio">
                       </ng-template> 
                    </div>
                            <div *ngSwitchCase="'text'" class="text-break">
                                {{getValue(row,column.mappedBy)}}
                            </div>
                           <div *ngSwitchCase="'avatar'">
                            <img  *ngIf="getIsProfile(row,column.mappedBy)" [width]="column?.width" [height]="column?.width"  [src]="getProfile(row,column.mappedBy)" alt="Avatar" class="avatar avatarImage">
                            <a *ngIf="!getIsProfile(row,column.mappedBy)"> 
                              <p [attr.data-letters]="getProfile(row,column.mappedBy)"></p></a>
                           </div>
                            <div *ngSwitchCase="'date'">
                                {{getDate(row,column.mappedBy)}}
                            </div>
                            <div *ngSwitchCase="'button'">
                                <button  (click)="$event.stopPropagation();btnEventInside(row,btnRow.label)" [style.background]="btnRow.color" class="btn btn-primary btn-sm ml-1" *ngFor="let btnRow of  getButtonList(row,column)" >{{btnRow.label}}</button>
                            </div>
                            <div *ngSwitchCase="'icon'">
                                <img [src]="getImgValue(row,column.mappedBy)" [width]="column?.width" [height]="column?.width">
                            </div>
                            <div *ngSwitchCase="'boolean'">
                              <i *ngIf="!getValue(row,column.mappedBy)"  class="fa fa-close"></i>
                              <i *ngIf="getValue(row,column.mappedBy)"  class="fa fa-check"></i>

            
                            </div>
                            
                        </container-element>
                </td>
            </tr>
            <tr><td *ngIf="content.length==0" class="center-cell text-center" colspan="10"><i class="no-records">No Records
              Found</i></td></tr>
    </table>


<!-- pagination -->
<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item" id="previous-btn" (click)="changePageNo(pagination.pageNumber-1)"  [hidden]="pagination.pageNumber==0 ||pageList.length==0">
        <a class="page-link pre-btn" tabindex="-1">Previous</a>
      </li>
      <li class="page-item" [ngClass]="{'active': pagination.pageNumber === pageNumber}"
      (click)="pagination.pageNumber==pageNumber?true:changePageNo(pageNumber)"  *ngFor="let pageNumber of pageNoList"><a class="page-link" >{{pageNumber+1}}</a></li>
  
      <li class="page-item" id="next-btn" (click)="changePageNo(pagination.pageNumber+1)" [hidden]="pagination.pageNumber==pageList.length-1  || pageList.length==0">
        <a class="page-link next-btn">Next</a>
      </li>
    </ul>
  </nav>
</div>



<div class="container">
    <!-- Button trigger modal -->
    <button type="button" hidden #confrimationmodel class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header ">
            <!-- <h5 class="modal-title " id="exampleModalLabel"></h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <i class="fa fa-exclamation modal-icon " aria-hidden="true"></i>
            </div>

            <div class="are-you text-center">Are you sure?</div>
            <div class="you-want text-center">You want to delete the data</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="yes-btn" data-bs-dismiss="modal" (click)="delete()">Yes</button>
            <button type="button" class="btn btn-secondary" id="close-btn" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
   
  </div>